.recipes_tableborder{
	border: 1px solid #A3C4D7;
  	width: 920px;
  	text-align: center;
  	margin: 0 auto;
}

.recipes_th_Div{
	margin-top: 10px;
  	margin-bottom: 10px;
  	padding-bottom: 10px;
  	border-bottom: 2px solid #A3C4D7;
}
.recipes_tableborder tr{
	border-bottom: 2px solid #A3C4D7;
	height: 80px;
  	overflow: visible;
}
.dateInput{
	text-align: center;
  	border: none;
  	font-size: larger;
  	vertical-align: middle;
}