<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TAreaMapper" >
  <resultMap id="BaseResultMap" type="com.platform.JiaZhengService.dao.entity.TArea" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tree_path" property="treePath" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="BIGINT" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="phone_code" property="phoneCode" jdbcType="VARCHAR" />
    <result column="zh_name" property="zhName" jdbcType="VARCHAR" /> 
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.platform.JiaZhengService.dao.entity.TArea" extends="BaseResultMap" >
    <result column="full_name" property="fullName" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, orders, name, tree_path, parent, abbreviation, phone_code, 
    zh_name
  </sql>
  <sql id="Blob_Column_List" >
    full_name
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_area
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_area
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_area
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    delete from t_area
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platform.JiaZhengService.dao.entity.TArea" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_area (create_date, modify_date, orders, 
      name, tree_path, parent, 
      abbreviation, phone_code, zh_name, 
      full_name)
    values (#{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{orders,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{treePath,jdbcType=VARCHAR}, #{parent,jdbcType=BIGINT}, 
      #{abbreviation,jdbcType=VARCHAR}, #{phoneCode,jdbcType=VARCHAR}, #{zhName,jdbcType=VARCHAR}, 
      #{fullName,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.platform.JiaZhengService.dao.entity.TArea" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="treePath != null" >
        tree_path,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="abbreviation != null" >
        abbreviation,
      </if>
      <if test="phoneCode != null" >
        phone_code,
      </if>
      <if test="zhName != null" >
        zh_name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="treePath != null" >
        #{treePath,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=BIGINT},
      </if>
      <if test="abbreviation != null" >
        #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="phoneCode != null" >
        #{phoneCode,jdbcType=VARCHAR},
      </if>
      <if test="zhName != null" >
        #{zhName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_area
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_area
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.treePath != null" >
        tree_path = #{record.treePath,jdbcType=VARCHAR},
      </if>
      <if test="record.parent != null" >
        parent = #{record.parent,jdbcType=BIGINT},
      </if>
      <if test="record.abbreviation != null" >
        abbreviation = #{record.abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneCode != null" >
        phone_code = #{record.phoneCode,jdbcType=VARCHAR},
      </if>
      <if test="record.zhName != null" >
        zh_name = #{record.zhName,jdbcType=VARCHAR},
      </if>
      <if test="record.fullName != null" >
        full_name = #{record.fullName,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_area
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      orders = #{record.orders,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      tree_path = #{record.treePath,jdbcType=VARCHAR},
      parent = #{record.parent,jdbcType=BIGINT},
      abbreviation = #{record.abbreviation,jdbcType=VARCHAR},
      phone_code = #{record.phoneCode,jdbcType=VARCHAR},
      zh_name = #{record.zhName,jdbcType=VARCHAR},
      full_name = #{record.fullName,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_area
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      orders = #{record.orders,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      tree_path = #{record.treePath,jdbcType=VARCHAR},
      parent = #{record.parent,jdbcType=BIGINT},
      abbreviation = #{record.abbreviation,jdbcType=VARCHAR},
      phone_code = #{record.phoneCode,jdbcType=VARCHAR},
      zh_name = #{record.zhName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.JiaZhengService.dao.entity.TArea" >
    update t_area
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="treePath != null" >
        tree_path = #{treePath,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=BIGINT},
      </if>
      <if test="abbreviation != null" >
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="phoneCode != null" >
        phone_code = #{phoneCode,jdbcType=VARCHAR},
      </if>
      <if test="zhName != null" >
        zh_name = #{zhName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.platform.JiaZhengService.dao.entity.TArea" >
    update t_area
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      orders = #{orders,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      tree_path = #{treePath,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=BIGINT},
      abbreviation = #{abbreviation,jdbcType=VARCHAR},
      phone_code = #{phoneCode,jdbcType=VARCHAR},
      zh_name = #{zhName,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.JiaZhengService.dao.entity.TArea" >
    update t_area
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      orders = #{orders,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      tree_path = #{treePath,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=BIGINT},
      abbreviation = #{abbreviation,jdbcType=VARCHAR},
      phone_code = #{phoneCode,jdbcType=VARCHAR},
      zh_name = #{zhName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>