<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TConfirmReceiptQuantityMapper" >
  <resultMap id="BaseResultMap" type="com.platform.JiaZhengService.dao.entity.TConfirmReceiptQuantity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="confirm_receipt_quantity" property="confirmReceiptQuantity" jdbcType="INTEGER" />
    <result column="confirm_receipt_date" property="confirmReceiptDate" jdbcType="TIMESTAMP" />
    <result column="orderItem" property="orderitem" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sn, name, full_name, price, confirm_receipt_quantity, confirm_receipt_date, orderItem, 
    create_date, modify_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_confirm_receipt_quantity
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_confirm_receipt_quantity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_confirm_receipt_quantity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    delete from t_confirm_receipt_quantity
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptQuantity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_confirm_receipt_quantity (sn, name, full_name, 
      price, confirm_receipt_quantity, confirm_receipt_date, 
      orderItem, create_date, modify_date
      )
    values (#{sn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{confirmReceiptQuantity,jdbcType=INTEGER}, #{confirmReceiptDate,jdbcType=TIMESTAMP}, 
      #{orderitem,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptQuantity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_confirm_receipt_quantity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sn != null" >
        sn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="confirmReceiptQuantity != null" >
        confirm_receipt_quantity,
      </if>
      <if test="confirmReceiptDate != null" >
        confirm_receipt_date,
      </if>
      <if test="orderitem != null" >
        orderItem,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="confirmReceiptQuantity != null" >
        #{confirmReceiptQuantity,jdbcType=INTEGER},
      </if>
      <if test="confirmReceiptDate != null" >
        #{confirmReceiptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderitem != null" >
        #{orderitem,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_confirm_receipt_quantity
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_confirm_receipt_quantity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sn != null" >
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.fullName != null" >
        full_name = #{record.fullName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.confirmReceiptQuantity != null" >
        confirm_receipt_quantity = #{record.confirmReceiptQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.confirmReceiptDate != null" >
        confirm_receipt_date = #{record.confirmReceiptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderitem != null" >
        orderItem = #{record.orderitem,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_confirm_receipt_quantity
    set id = #{record.id,jdbcType=BIGINT},
      sn = #{record.sn,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      full_name = #{record.fullName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      confirm_receipt_quantity = #{record.confirmReceiptQuantity,jdbcType=INTEGER},
      confirm_receipt_date = #{record.confirmReceiptDate,jdbcType=TIMESTAMP},
      orderItem = #{record.orderitem,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptQuantity" >
    update t_confirm_receipt_quantity
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="confirmReceiptQuantity != null" >
        confirm_receipt_quantity = #{confirmReceiptQuantity,jdbcType=INTEGER},
      </if>
      <if test="confirmReceiptDate != null" >
        confirm_receipt_date = #{confirmReceiptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderitem != null" >
        orderItem = #{orderitem,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptQuantity" >
    update t_confirm_receipt_quantity
    set sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      confirm_receipt_quantity = #{confirmReceiptQuantity,jdbcType=INTEGER},
      confirm_receipt_date = #{confirmReceiptDate,jdbcType=TIMESTAMP},
      orderItem = #{orderitem,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>