<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TConfirmReceiptItemMapper" >
  <resultMap id="BaseResultMap" type="com.platform.JiaZhengService.dao.entity.TConfirmReceiptItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="confirm_receipt_date" property="confirmReceiptDate" jdbcType="TIMESTAMP" />
    <result column="confirm_receipt_quantity" property="confirmReceiptQuantity" jdbcType="INTEGER" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="order_item" property="orderItem" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, confirm_receipt_date, confirm_receipt_quantity, full_name, 
    name, price, sn, order_item
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_confirm_receipt_item
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_confirm_receipt_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_confirm_receipt_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    delete from t_confirm_receipt_item
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptItem" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_confirm_receipt_item (create_date, modify_date, confirm_receipt_date, 
      confirm_receipt_quantity, full_name, name, 
      price, sn, order_item)
    values (#{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{confirmReceiptDate,jdbcType=TIMESTAMP}, 
      #{confirmReceiptQuantity,jdbcType=INTEGER}, #{fullName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{sn,jdbcType=VARCHAR}, #{orderItem,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptItem" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_confirm_receipt_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="confirmReceiptDate != null" >
        confirm_receipt_date,
      </if>
      <if test="confirmReceiptQuantity != null" >
        confirm_receipt_quantity,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="orderItem != null" >
        order_item,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmReceiptDate != null" >
        #{confirmReceiptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmReceiptQuantity != null" >
        #{confirmReceiptQuantity,jdbcType=INTEGER},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="orderItem != null" >
        #{orderItem,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_confirm_receipt_item
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_confirm_receipt_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmReceiptDate != null" >
        confirm_receipt_date = #{record.confirmReceiptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmReceiptQuantity != null" >
        confirm_receipt_quantity = #{record.confirmReceiptQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.fullName != null" >
        full_name = #{record.fullName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.sn != null" >
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.orderItem != null" >
        order_item = #{record.orderItem,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_confirm_receipt_item
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      confirm_receipt_date = #{record.confirmReceiptDate,jdbcType=TIMESTAMP},
      confirm_receipt_quantity = #{record.confirmReceiptQuantity,jdbcType=INTEGER},
      full_name = #{record.fullName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      sn = #{record.sn,jdbcType=VARCHAR},
      order_item = #{record.orderItem,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptItem" >
    update t_confirm_receipt_item
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmReceiptDate != null" >
        confirm_receipt_date = #{confirmReceiptDate,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmReceiptQuantity != null" >
        confirm_receipt_quantity = #{confirmReceiptQuantity,jdbcType=INTEGER},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="orderItem != null" >
        order_item = #{orderItem,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.JiaZhengService.dao.entity.TConfirmReceiptItem" >
    update t_confirm_receipt_item
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      confirm_receipt_date = #{confirmReceiptDate,jdbcType=TIMESTAMP},
      confirm_receipt_quantity = #{confirmReceiptQuantity,jdbcType=INTEGER},
      full_name = #{fullName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      sn = #{sn,jdbcType=VARCHAR},
      order_item = #{orderItem,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>