<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TCouponProductMapper" >
  <resultMap id="BaseResultMap" type="com.platform.JiaZhengService.dao.entity.TCouponProductKey" >
    <id column="coupons" property="coupons" jdbcType="BIGINT" />
    <id column="products" property="products" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    coupons, products
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_coupon_product
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.platform.JiaZhengService.dao.entity.TCouponProductKey" >
    delete from t_coupon_product
    where coupons = #{coupons,jdbcType=BIGINT}
      and products = #{products,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    delete from t_coupon_product
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platform.JiaZhengService.dao.entity.TCouponProductKey" >
    insert into t_coupon_product (coupons, products)
    values (#{coupons,jdbcType=BIGINT}, #{products,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.platform.JiaZhengService.dao.entity.TCouponProductKey" >
    insert into t_coupon_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coupons != null" >
        coupons,
      </if>
      <if test="products != null" >
        products,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coupons != null" >
        #{coupons,jdbcType=BIGINT},
      </if>
      <if test="products != null" >
        #{products,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_coupon_product
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_coupon_product
    <set >
      <if test="record.coupons != null" >
        coupons = #{record.coupons,jdbcType=BIGINT},
      </if>
      <if test="record.products != null" >
        products = #{record.products,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_coupon_product
    set coupons = #{record.coupons,jdbcType=BIGINT},
      products = #{record.products,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>