<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TCouponCodeMapper">
	<resultMap id="BaseResultMap"
		type="com.platform.JiaZhengService.dao.entity.TCouponCode">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="is_used" property="isUsed" jdbcType="BIT" />
		<result column="used_date" property="usedDate" jdbcType="TIMESTAMP" />
		<result column="coupon" property="coupon" jdbcType="BIGINT" />
		<result column="member" property="member" jdbcType="BIGINT" />
		<result column="orders" property="orders" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, create_date, modify_date, code, is_used, used_date,
		coupon, member,
		orders
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.platform.JiaZhengService.dao.Criteria">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_coupon_code
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_coupon_code
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_coupon_code
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria">
		delete from t_coupon_code
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.platform.JiaZhengService.dao.entity.TCouponCode">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_coupon_code (create_date, modify_date, code,
		is_used,
		used_date, coupon,
		member, orders)
		values
		(#{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP},
		#{code,jdbcType=VARCHAR},
		#{isUsed,jdbcType=BIT},
		#{usedDate,jdbcType=TIMESTAMP}, #{coupon,jdbcType=BIGINT},
		#{member,jdbcType=BIGINT}, #{orders,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.platform.JiaZhengService.dao.entity.TCouponCode">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_coupon_code
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="createDate != null">
				create_date,
			</if>
			<if test="modifyDate != null">
				modify_date,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="isUsed != null">
				is_used,
			</if>
			<if test="usedDate != null">
				used_date,
			</if>
			<if test="coupon != null">
				coupon,
			</if>
			<if test="member != null">
				member,
			</if>
			<if test="orders != null">
				orders,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="isUsed != null">
				#{isUsed,jdbcType=BIT},
			</if>
			<if test="usedDate != null">
				#{usedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="coupon != null">
				#{coupon,jdbcType=BIGINT},
			</if>
			<if test="member != null">
				#{member,jdbcType=BIGINT},
			</if>
			<if test="orders != null">
				#{orders,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria"
		resultType="java.lang.Integer">
		select count(*) from t_coupon_code
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_coupon_code
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.createDate != null">
				create_date = #{record.createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifyDate != null">
				modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.code != null">
				code = #{record.code,jdbcType=VARCHAR},
			</if>
			<if test="record.isUsed != null">
				is_used = #{record.isUsed,jdbcType=BIT},
			</if>
			<if test="record.usedDate != null">
				used_date = #{record.usedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.coupon != null">
				coupon = #{record.coupon,jdbcType=BIGINT},
			</if>
			<if test="record.member != null">
				member = #{record.member,jdbcType=BIGINT},
			</if>
			<if test="record.orders != null">
				orders = #{record.orders,jdbcType=BIGINT},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_coupon_code
		set id = #{record.id,jdbcType=BIGINT},
		create_date
		= #{record.createDate,jdbcType=TIMESTAMP},
		modify_date =
		#{record.modifyDate,jdbcType=TIMESTAMP},
		code =
		#{record.code,jdbcType=VARCHAR},
		is_used =
		#{record.isUsed,jdbcType=BIT},
		used_date =
		#{record.usedDate,jdbcType=TIMESTAMP},
		coupon =
		#{record.coupon,jdbcType=BIGINT},
		member =
		#{record.member,jdbcType=BIGINT},
		orders =
		#{record.orders,jdbcType=BIGINT}
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.platform.JiaZhengService.dao.entity.TCouponCode">
		update t_coupon_code
		<set>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="isUsed != null">
				is_used = #{isUsed,jdbcType=BIT},
			</if>
			<if test="usedDate != null">
				used_date = #{usedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="coupon != null">
				coupon = #{coupon,jdbcType=BIGINT},
			</if>
			<if test="member != null">
				member = #{member,jdbcType=BIGINT},
			</if>
			<if test="orders != null">
				orders = #{orders,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.platform.JiaZhengService.dao.entity.TCouponCode">
		update
		t_coupon_code
		set create_date = #{createDate,jdbcType=TIMESTAMP},
		modify_date = #{modifyDate,jdbcType=TIMESTAMP},
		code =
		#{code,jdbcType=VARCHAR},
		is_used = #{isUsed,jdbcType=BIT},
		used_date =
		#{usedDate,jdbcType=TIMESTAMP},
		coupon = #{coupon,jdbcType=BIGINT},
		member = #{member,jdbcType=BIGINT},
		orders = #{orders,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>