<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TOrderCouponMapper" >
  <resultMap id="BaseResultMap" type="com.platform.JiaZhengService.dao.entity.TOrderCoupon" >
    <result column="orders" property="orders" jdbcType="BIGINT" />
    <result column="coupons" property="coupons" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    orders, coupons
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order_coupon
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" >
    delete from t_order_coupon
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.platform.JiaZhengService.dao.entity.TOrderCoupon" >
    insert into t_order_coupon (orders, coupons)
    values (#{orders,jdbcType=BIGINT}, #{coupons,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.platform.JiaZhengService.dao.entity.TOrderCoupon" >
    insert into t_order_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orders != null" >
        orders,
      </if>
      <if test="coupons != null" >
        coupons,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orders != null" >
        #{orders,jdbcType=BIGINT},
      </if>
      <if test="coupons != null" >
        #{coupons,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_order_coupon
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order_coupon
    <set >
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=BIGINT},
      </if>
      <if test="record.coupons != null" >
        coupons = #{record.coupons,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order_coupon
    set orders = #{record.orders,jdbcType=BIGINT},
      coupons = #{record.coupons,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>