<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.platform.JiaZhengService.dao.mapper.TProductSpecificationValueMapper">
	<resultMap id="BaseResultMap"
		type="com.platform.JiaZhengService.dao.entity.TProductSpecificationValueKey">
		<id column="products" property="products" jdbcType="BIGINT" />
		<id column="specification_values" property="specificationValues"
			jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		products, specification_values
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.platform.JiaZhengService.dao.Criteria">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_product_specification_value
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="com.platform.JiaZhengService.dao.entity.TProductSpecificationValueKey">
		delete from t_product_specification_value
		where products
		= #{products,jdbcType=BIGINT}
		and specification_values =
		#{specificationValues,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria">
		delete from t_product_specification_value
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.platform.JiaZhengService.dao.entity.TProductSpecificationValueKey">
		insert into t_product_specification_value (products,
		specification_values)
		values (#{products,jdbcType=BIGINT},
		#{specificationValues,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective"
		parameterType="com.platform.JiaZhengService.dao.entity.TProductSpecificationValueKey">
		insert into t_product_specification_value
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="products != null">
				products,
			</if>
			<if test="specificationValues != null">
				specification_values,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="products != null">
				#{products,jdbcType=BIGINT},
			</if>
			<if test="specificationValues != null">
				#{specificationValues,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria"
		resultType="java.lang.Integer">
		select count(*) from t_product_specification_value
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_product_specification_value
		<set>
			<if test="record.products != null">
				products = #{record.products,jdbcType=BIGINT},
			</if>
			<if test="record.specificationValues != null">
				specification_values =
				#{record.specificationValues,jdbcType=BIGINT},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_product_specification_value
		set products =
		#{record.products,jdbcType=BIGINT},
		specification_values =
		#{record.specificationValues,jdbcType=BIGINT}
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>