<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TRoleMapper">
	<resultMap id="BaseResultMap" type="com.platform.JiaZhengService.dao.entity.TRole">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="is_system" property="isSystem" jdbcType="BIT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, create_date, modify_date, description, is_system, name
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.platform.JiaZhengService.dao.Criteria">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_role
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_role
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_role
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria">
		delete from t_role
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.platform.JiaZhengService.dao.entity.TRole">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_role (create_date, modify_date, description,
		is_system,
		name)
		values (#{createDate,jdbcType=TIMESTAMP},
		#{modifyDate,jdbcType=TIMESTAMP},
		#{description,jdbcType=VARCHAR},
		#{isSystem,jdbcType=BIT}, #{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.platform.JiaZhengService.dao.entity.TRole">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="createDate != null">
				create_date,
			</if>
			<if test="modifyDate != null">
				modify_date,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="isSystem != null">
				is_system,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="isSystem != null">
				#{isSystem,jdbcType=BIT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria"
		resultType="java.lang.Integer">
		select count(*) from t_role
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_role
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.createDate != null">
				create_date = #{record.createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifyDate != null">
				modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.description != null">
				description = #{record.description,jdbcType=VARCHAR},
			</if>
			<if test="record.isSystem != null">
				is_system = #{record.isSystem,jdbcType=BIT},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_role
		set id = #{record.id,jdbcType=BIGINT},
		create_date =
		#{record.createDate,jdbcType=TIMESTAMP},
		modify_date =
		#{record.modifyDate,jdbcType=TIMESTAMP},
		description =
		#{record.description,jdbcType=VARCHAR},
		is_system =
		#{record.isSystem,jdbcType=BIT},
		name = #{record.name,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.platform.JiaZhengService.dao.entity.TRole">
		update t_role
		<set>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="isSystem != null">
				is_system = #{isSystem,jdbcType=BIT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.platform.JiaZhengService.dao.entity.TRole">
		update t_role
		set
		create_date = #{createDate,jdbcType=TIMESTAMP},
		modify_date =
		#{modifyDate,jdbcType=TIMESTAMP},
		description =
		#{description,jdbcType=VARCHAR},
		is_system = #{isSystem,jdbcType=BIT},
		name = #{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>