<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.JiaZhengService.dao.mapper.TSpecificationMapper">
	<resultMap id="BaseResultMap"
		type="com.platform.JiaZhengService.dao.entity.TSpecification">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="orders" property="orders" jdbcType="INTEGER" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="min_num" property="minNum" jdbcType="DOUBLE" />
		<result column="max_num" property="maxNum" jdbcType="DOUBLE" />
		<result column="is_enable" property="isEnable" jdbcType="BIT" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, create_date, modify_date, orders, memo, name, type,
		code, price,
		min_num, max_num,
		is_enable, unit
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.platform.JiaZhengService.dao.Criteria">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_specification
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_specification
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_specification
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.platform.JiaZhengService.dao.Criteria">
		delete from t_specification
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.platform.JiaZhengService.dao.entity.TSpecification">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_specification (create_date, modify_date, orders,
		memo,
		name, type, code,
		price, min_num, max_num,
		is_enable, unit)
		values
		(#{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP},
		#{orders,jdbcType=INTEGER},
		#{memo,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
		#{code,jdbcType=VARCHAR},
		#{price,jdbcType=DOUBLE},
		#{minNum,jdbcType=DOUBLE}, #{maxNum,jdbcType=DOUBLE},
		#{isEnable,jdbcType=BIT}, #{unit,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.platform.JiaZhengService.dao.entity.TSpecification">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_specification
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="createDate != null">
				create_date,
			</if>
			<if test="modifyDate != null">
				modify_date,
			</if>
			<if test="orders != null">
				orders,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="minNum != null">
				min_num,
			</if>
			<if test="maxNum != null">
				max_num,
			</if>
			<if test="isEnable != null">
				is_enable,
			</if>
			<if test="unit != null">
				unit,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="orders != null">
				#{orders,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="minNum != null">
				#{minNum,jdbcType=DOUBLE},
			</if>
			<if test="maxNum != null">
				#{maxNum,jdbcType=DOUBLE},
			</if>
			<if test="isEnable != null">
				#{isEnable,jdbcType=BIT},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.platform.JiaZhengService.dao.Criteria"
		resultType="java.lang.Integer">
		select count(*) from t_specification
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_specification
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.createDate != null">
				create_date = #{record.createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifyDate != null">
				modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.orders != null">
				orders = #{record.orders,jdbcType=INTEGER},
			</if>
			<if test="record.memo != null">
				memo = #{record.memo,jdbcType=VARCHAR},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.type != null">
				type = #{record.type,jdbcType=INTEGER},
			</if>
			<if test="record.code != null">
				code = #{record.code,jdbcType=VARCHAR},
			</if>
			<if test="record.price != null">
				price = #{record.price,jdbcType=DOUBLE},
			</if>
			<if test="record.minNum != null">
				min_num = #{record.minNum,jdbcType=DOUBLE},
			</if>
			<if test="record.maxNum != null">
				max_num = #{record.maxNum,jdbcType=DOUBLE},
			</if>
			<if test="record.isEnable != null">
				is_enable = #{record.isEnable,jdbcType=BIT},
			</if>
			<if test="record.unit != null">
				name = #{record.unit,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_specification
		set id = #{record.id,jdbcType=BIGINT},
		create_date = #{record.createDate,jdbcType=TIMESTAMP},
		modify_date =
		#{record.modifyDate,jdbcType=TIMESTAMP},
		orders =
		#{record.orders,jdbcType=INTEGER},
		memo =
		#{record.memo,jdbcType=VARCHAR},
		name =
		#{record.name,jdbcType=VARCHAR},
		type =
		#{record.type,jdbcType=INTEGER},
		code =
		#{record.code,jdbcType=VARCHAR},
		price =
		#{record.price,jdbcType=DOUBLE},
		min_num =
		#{record.minNum,jdbcType=DOUBLE},
		max_num =
		#{record.maxNum,jdbcType=DOUBLE},
		is_enable =
		#{record.isEnable,jdbcType=BIT},
		unit = #{record.unit,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.platform.JiaZhengService.dao.entity.TSpecification">
		update t_specification
		<set>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="orders != null">
				orders = #{orders,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="minNum != null">
				min_num = #{minNum,jdbcType=DOUBLE},
			</if>
			<if test="maxNum != null">
				max_num = #{maxNum,jdbcType=DOUBLE},
			</if>
			<if test="isEnable != null">
				is_enable = #{isEnable,jdbcType=BIT},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.platform.JiaZhengService.dao.entity.TSpecification">
		update t_specification
		set create_date =
		#{createDate,jdbcType=TIMESTAMP},
		modify_date =
		#{modifyDate,jdbcType=TIMESTAMP},
		orders = #{orders,jdbcType=INTEGER},
		memo = #{memo,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		type =
		#{type,jdbcType=INTEGER},
		code = #{code,jdbcType=VARCHAR},
		price =
		#{price,jdbcType=DOUBLE},
		min_num = #{minNum,jdbcType=DOUBLE},
		max_num =
		#{maxNum,jdbcType=DOUBLE},
		is_enable = #{isEnable,jdbcType=BIT},
		unit =
		#{unit,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>