.rating.small a.rated {
    background-position: 0 -13px;
}

.rating.small a {
    float: left;
    display: block;
    width: 12px;
    height: 12px;
    margin-left : 2px;
    position: relative;
    background: url(../starRating/star.png) top left;
}
