body {
	margin: 0;
	font-size: .9em
}

.clearfix {
	*zoom: 1;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0
}

.clearfix:after {
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	content: "\0020"
}

h2 {
	font-size: 1.2em;
	font-weight: 400
}

h4 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0
}

button {
	background-color: #DC0404;
	text-align: center;
	width: 100%;
	height: 35px;
	color: #fff;
	border-radius: 0;
	font-size: .9em;
	border: 0
}

.index_category {
	width: 100%;
	margin-bottom: 5px
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 36px;
	padding: 2px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #fff;
	opacity: .95;
	z-index: 998;
	margin: 0 auto;
}

.header div {
	margin-top: 8px
}

.header_img {
	padding-left: 15px;
	float: left;
	display: inline;
	height: 18px
}

.header_title {
	top: 0;
	display: inline;
}

.fullscreen {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #EEF2F3;
	overflow: hidden;
}

.moMobileContent {
	height: auto;
	bottom: 0;
	text-align: -webkit-auto;
	/* 	padding: 0 5px 73px 5px */
}

img {
	display: block;
	padding: 0;
	margin: 0;
}

a:hover, a:active, a:visited {
	-webkit-tap-highlight-color: transparent
}

a {
	color: #000;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent
}

.list_bg {
	background: #fff
}

.list_box {
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 63px;
}

.list_box li {
	position: relative;
	float: left;
	font-size: 14px;
	text-align: center;
	z-index: 500;
	width: 50%;
}

.list_box li a {
	display: block;
	height: 100%;
	background: #fff;
	overflow: hidden;
}

.list_box li.page_loading {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 40px;
}

.loading {
	width: 320px;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -160px;
	z-index: 99;
	z-index: 500
}

.loading .rotate {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	background: url(../images/loading.png) no-repeat;
	background-size: contain;
	animation: loadingRotate 1s linear infinite;
	-webkit-animation: loadingRotate 1s linear infinite;
}

.page_loading .loading .rotate {
	width: 30px;
	height: 30px;
	margin: -10px 0 0 -15px
}

.list_box li a img {
	margin: 0 auto; /* opacity: 0; */
	transition: opacity 0.8s linear 0s;
	-webkit-transition: opacity 0.5s linear 0s;
	width: 95%;
}

.list_box li a i {
	display: block;
	height: 303px;
	background: url(../images/loading.gif) 50% 50% no-repeat;
}

.list_box li p {
	background: #000;
	height: 20px;
	padding: 0 7px;
	opacity: 0.5;
}

.list_box .list_brand {
	display: block;
	float: left;
	line-height: 20px;
	color: #e6e6e6;
	font-size: 12px;
}

.list_box .list_price {
	position: static;
	left: 10px;
	bottom: 5px;
	color: #333;
	line-height: 20px;
	font-size: 11px;
	display: list-item;
}

.list_box .list_price strong {
	margin: 2px;
	border: 1px solid #000;
	padding: 1px;
}

.list_box .list_price span {
	margin: 2px;
	border: 1px solid #000;
	padding-left: 1px;
	padding-right: 1px;
}

.list_pop_box {
	height: 180px;
	overflow: hidden
}

.loading {
	width: 320px;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -160px;
	z-index: 99;
	z-index: 500
}

.loading .rotate {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	background: url(../images/loading.png) no-repeat;
	background-size: contain;
	animation: loadingRotate 1s linear infinite;
	-webkit-animation: loadingRotate 1s linear infinite;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.body_margin {
	margin-top: 51px;
}

.buyQuantity {
	margin-bottom: 10px;
}

/*��诲��娉ㄥ��椤甸��*/
.already-registered {
	margin-bottom: 20px;
	font-size: 1.1em;
	font-weight: 400;
	margin-top: 30px;
}

.box {
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
}

.box_input {
	border-radius: 0;
	font-size: 13px;
	width: 97%;
	height: 32px;
	padding-left: 4px;
	border: 1px solid #ccc
}

.box-button {
	background-color: #DC0404;
	text-align: center;
	width: 100%;
	height: 38px;
	color: #fff;
	/* 	border-radius: 0 */
}

.box-a {
	font-size: 1em;
	color: #9e9e9e
}

.box-span {
	font-size: 1.1em;
	font-weight: 400
}

/*start 搴����toolbar*/
.footer {
	position: fixed;
	width: 100%;
	padding: 1px;
	text-align: center;
	opacity: .95;
	z-index: 2000;
	bottom: 0;
	background-color: #000;
	margin: 0 auto;
}

.footer a {
	display: inline-block;
	width: 18%;
	text-align: center;
	font-size: 12px
}

.footer a em {
	position: relative;
	display: block;
	width: 36px;
	height: 38px;
	margin: 0 auto;
	-webkit-background-size: contain;
	background-size: contain
}

.footer a.navCategory em {
	background-image: url(../images/nav_category.png)
}

.footer a.navCart em {
	background-image: url(../images/nav_cart.png)
}

.footer a.navCart em li {
	position: absolute;
	right: -6px;
	color: #fff;
	font-size: 10px;
	letter-spacing: -1px;
}

.footer a.navAccount em {
	background-image: url(../images/nav_account.png)
}

.footer a.navStoreInfo em {
	background-image: url(../images/nav_storeInfo.png)
}

.footer a.navSearch em {
	background-image: url(../images/nav_search.png)
}

/*end 搴����toolbar*/

/*��瑰�诲����ㄤ骇���锛�toolbar-product.html������椤�*/
.word {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px
}

.myaccount-word {
	height: 45px
}

.myaccount-span {
	font-size: 15px;
	margin-top: 16px;
	float: left
}

.myaccount-img {
	float: right;
	padding-top: 13px;
	width: 7px;
	margin-right: 11px;
}

.myaccount-btn {
	margin-top: 26px
}

.vipCardInfo {
	font-size: 12px;
	line-height: 40px;
}

.vipCardInfo li {
	border-bottom: 1px solid #000
}

.bindVipCard {
	color: #C3BBBB;
	text-decoration: underline;
}

.bindVipCardInfo {
	font-size: 0px;
	line-height: 40px;
	padding-top: 20px;
	text-align: center;
}

.bindVipCardInfo input {
	vertical-align: middle;
	width: 100%;
}

.bindVipCardInfo table {
	width: 100%;
}

.bindVipCardInfo button {
	width: 50%;
}

/*������璁㈠��椤甸�� my-order.html*/
.orderitem {
	margin-top: 10px
}

.orderitem-img {
	float: left;
	width: 30%;
	margin-right: 16px
}

.orderitem-text {
	float: left
}

/*���绯绘��浠�椤甸��*/
.contactus {
	width: 100%;
	height: 300px;
	border: 1px solid #000
}

.contactus-theme {
	height: 30px;
	padding-right: 2px
}

.contactus_theme_txt {
	font-size: 16px;
	color: #000;
	padding-left: 10px;
	line-height: 30px
}

.contactus_select_txt {
	display: inline-block;
	cursor: pointer;
	width: 70%;
	line-height: 30px;
	text-align: center
}

.contactus-textarea {
	width: 96%;
	height: 280px;
	border-radius: 0;
	color: #9e9e9e;
	padding-top: 10px;
	padding-left: 8px;
	font-size: 16px;
	border: 1px solid #000;
	border-top: 0 solid #000
}

/*璁㈠��璇����椤甸�� order-details.html*/
.details-productinfo {
	font-size: 17px;
	margin-top: 16px;
	float: left;
	width: 100%;
	height: 30px;
	font-weight: 800
}

.details-productinfo-img {
	float: right;
	margin-top: -10px
}

.details-span1 {
	font-size: 15px;
	margin-bottom: 6px
}

.details-span2 {
	float: left;
	font-size: 15px;
	width: 30%
}

.details-span3 {
	font-size: 15px;
	float: left;
	width: 70%
}

.details-receiveinfo-item1 {
	height: 60px;
	margin-bottom: 6px
}

.details-receiveinfo-item2 {
	height: 15px;
	margin-bottom: 4px
}

.details-pay-span {
	font-size: 15px;
	float: left;
	height: 15px
}

/*��板����板��椤甸�㈠��缂�杈���板��椤甸��new-address.html edit-address.html*/
.address-span {
	margin-bottom: 20px;
	font-size: 1.1em;
	margin-top: 30px
}

.address-btn {
	margin-bottom: 10px;
	margin-top: 40px
}

.single-price {
	float: right;
	margin-right: 8px;
	margin-top: 38px;
	font-size: 14px
}

.product-number {
	font-size: 14px;
	padding-left: 14px
}

.item-span1 {
	margin-bottom: 10px;
	margin-top: 10px
}

.item-span2 {
	margin-bottom: 12px;
	font-size: 14px
}

.item-span3 {
	font-size: 14px;
	margin-bottom: 4px
}

.item-span4 {
	font-size: 14px
}

.order-productinfo-bottom {
	width: 100%;
	overflow: hidden
}

.order-productinfo-bottom-left {
	float: left;
	margin-top: 20px;
	margin-bottom: 65px;
	font-size: 14px
}

.order-productinfo-bottom-right {
	float: right;
	margin-top: 20px;
	margin-bottom: 65px;
	font-size: 14px
}

/*璐���╃��椤甸��toolbar-basket.html*/
.basket-icon-delete {
	float: right;
	width: 14px;
	height: 14px
}

.little-border {
	float: left;
	width: 30px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	margin-right: 5px;
	border: 1px solid #E0E0E0;
}

.little-boder-item {
	padding-top: 3px
}

.basket-single-price {
	float: right;
	margin-right: 8px;
	margin-top: 10px
}

/*璁㈠��������������椤甸�� success-submit-oeder.html*/
.success-p {
	font-size: 12px;
}

/*���绱㈤〉��� toolbar-search.html*/
.search_box {
	margin-top: 40px;
	height: 40px;
	border: 1px solid #000;
	margin-left: 10px
}

.search-box-input {
	border: 0;
	font-size: 1em
}

.search-box-div {
	border-left: 1px solid #000;
	float: right;
	height: 40px;
	width: 85%;
}

.search_box_img {
	width: 24px;
	height: 24px;
	padding: 10;
}

.hotSearch-li-title {
	font-size: 12px;
	line-height: 28px;
}

.hotSearch-li-content {
	line-height: 15px;
	margin-bottom: 10px;
	cursor: pointer;
}

.hotSearch-li_content_div_spe1 {
	float: left;
	height: 15px;
	width: 15px;
	text-align: center;
	border: 1px solid #030303;
	background-color: #030303;
	color: white;
}

.hotSearch-li_content_div_spe2 {
	float: left;
	height: 15px;
	width: 15px;
	text-align: center;
	border: 1px solid #8C8C8C;
	color: white;
	background-color: #8C8C8C;
}

.hotSearch-li_content_div {
	margin-left: 28px;
	font-size: 12px;
}

/*搴���轰俊���*/
.select_box_p {
	float: left;
	border: solid 1px #020202;
	color: #444;
	position: relative;
	cursor: pointer;
	width: 200px;
	font-size: 12px;
	margin-top: 10px;
	height: 30px
}

.select_txt {
	display: inline-block;
	padding-left: 10px;
	line-height: 30px;
	cursor: pointer;
	overflow: hidden;
	font-size: .9em;
	width: 95%
}

.selet_open {
	display: inline-block;
	border-left: solid 1px #020202;
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 30px;
	background: url(../images/arrow.png) no-repeat center center;
	background-size: cover
}

.option_p {
	width: 200px;
	height: 150px;
	overflow: auto;
	overflow-x: hidden;
	border: solid 1px #020202;
	border-top: 0;
	top: 31px;
	margin-left: -1px;
	z-index: 11111;
	display: none;
	position: absolute
}

.option_p a {
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: left;
	padding: 0 10px;
	width: 100%;
	background: #fff;
	font-size: 10px;
	outline: 0
}

.option_b a:hover {
	background: #ddd
}

.select_box_b2 {
	float: left;
	border: solid 1px #020202;
	color: #444;
	position: relative;
	cursor: pointer;
	width: 200px;
	font-size: 12px;
	margin-top: 10px;
	height: 30px
}

.option_b2 {
	width: 200px;
	height: 150px;
	overflow: auto;
	overflow-x: hidden;
	border: solid 1px #020202;
	border-top: 0;
	position: absolute;
	top: 31px;
	margin-left: -1px;
	z-index: 30000;
	display: none;
	background: #fff
}

.option_b2 a {
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: left;
	padding: 0 10px;
	width: 100%;
	background: #fff;
	font-size: 10px
}

.option_b2 a:hover {
	background: #ddd
}

.store_map_info {
	width: 100%;
	height: 500px
}

.map_canvas {
	float: right;
	width: 100%;
	height: 100%;
	display: none
}

.dialog_frame {
	position: fixed;
	width: 640px;
	height: 100%;
	left: 50%;
	top: 0;
	margin-left: -320px;
	background: rgba(0, 0, 0, .2);
	z-index: 2001
}

.dialog {
	width: 270px; /**height:128px;*/
	height: auto;
	position: fixed;
	left: 50%;
	top: 42%;
	margin: -63px 0 0 -135px;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	font-size: 14px
}

.dialog_nobtn {
	width: 270px;
	height: 82px;
	position: fixed;
	left: 50%;
	top: 42%;
	margin: -63px 0 0 -135px;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	font-size: 14px
}

.dialog_title {
	padding-top: 15px;
	line-height: 26px;
	height: 26px;
	font-size: 16px;
	font-weight: 600
}

.dialog_content { /**height:30px;**/
	line-height: 30px;
	overflow: hidden;
	margin-bottom: 11px
}

.dialog_btn {
	height: 45px;
	line-height: 45px;
	border-top: 1px solid #bdbdbd
}

.dialog_btn span {
	display: block;
	float: left;
	text-align: center;
	color: #267dc4;
	border-right: 1px solid #bdbdbd;
	width: 100%;
	cursor: pointer;
	margin-left: -1px
}

.dialog_btn span:last-child {
	border-right: 0
}

.dialog_btn_2 span {
	width: 50%
}

.dialog_btn_3 span {
	width: 33.3%
}

.dialog_btn_4 span {
	width: 25%
}

.select_box_b3 {
	float: left;
	border: solid 1px #020202;
	color: #444;
	position: relative;
	cursor: pointer;
	width: 200px;
	font-size: 12px;
	margin-top: 10px;
	height: 30px
}

.option_b3 {
	width: 200px;
	height: 150px;
	overflow: auto;
	overflow-x: hidden;
	border: solid 1px #020202;
	border-top: 0;
	position: absolute;
	top: 31px;
	margin-left: -1px;
	z-index: 30000;
	display: none;
	background: #fff
}

.option_b3 a {
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: left;
	padding: 0 10px;
	width: 100%;
	background: #fff;
	font-size: 10px
}

.option_b3 a:hover {
	background: #ddd
}

.fieldSet select {
	width: 100%;
	height: 32px;
	padding: 0 2px;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #444;
	margin-right: 2px;
	vertical-align: middle;
	border: 1px solid #949494;
	background-color: white
}

/*
===============================================================
start swiper styles 
================================================================
*/
.swiper-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition-property: -webkit-transform, left, top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform, left, top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px, 0, 0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform, left, top;
	-o-transition-duration: 0s;
	-o-transform: translate3d(0px, 0, 0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0px, 0px);
	-ms-transition-property: -ms-transform, left, top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px, 0, 0);
	-ms-transition-timing-function: ease;
	transition-property: transform, left, top;
	transition-duration: 0s;
	transform: translate3d(0px, 0, 0);
	transition-timing-function: ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-free-mode>.swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto
}

.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-slide img {
	margin: 0 auto;
	width: 100%;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x
}

.swiper-container {
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center
}

.swiper-slide img {
	font-style: italic;
	font-size: 42px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
	width: 100%;
}

.productName {
	position: absolute;
	z-index: 20;
	right: 20px;
	bottom: 163px;
	color: #202020;
	font-size: 12px
}

.choiceAndBuyProduct {
	font-size: 12px;
	position: absolute;
	top: 45px;
	width: 60px;
	text-align: right;
	-webkit-transition-property: right;
	-webkit-transition-duration: .1s;
	-webkit-transition-delay: 0;
	-webkit-transition-timing-function: linear;
	z-index: 600
}

/*
===============================================================
end swiper styles 
================================================================
*/

/*
===============================================================
start modernizr styles 
================================================================
*/
body {
	font-family: 'Lato', Calibri, Arial, sans-serif
}

.plusInfoButton {
	border: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	width: 29px;
	height: 28px;
	background: url(../images/plus_info.png) no-repeat left top;
	background-size: cover
}

.plusInfoOtherButton {
	background-color: #fdfdfd;
	text-align: center;
	width: 100%;
	height: 30px;
	color: #030303;
	font-size: 12px;
	font-weight: bold
}

.plusLinkInfo {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000
}

.plusLinkInfo ul {
	margin: 0;
	padding-left: 5px;
	height: 10px
}

.plusLinkInfo ul li {
	float: left;
	text-align: left;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold
}

.plusLinkInfo ul li:first-child {
	padding-left: 0
}
/**.md-modal{position:absolute;left:50%;width:320px;max-width:320px;min-width:320px;height:auto;z-index:2001;visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-50%)translateY(-50%);-moz-transform:translateX(-50%)translateY(-50%);-ms-transform:translateX(-50%)translateY(-50%);transform:translateX(-50%)translateY(-50%);opacity:.8;filter:alpha(opacity=80);background-color:#fff}
*/
.md-modal {
	position: absolute;
	left: 50%;
	width: 100%;
	height: auto;
	z-index: 2001;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	opacity: .8;
	filter: alpha(opacity = 80);
	background-color: #fff;
}

.md-show {
	visibility: visible
}

.md-overlay {
	position: absolute;
	width: 320px;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible
}

.md-content {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto
}

.md-content>div {
	padding: 0 20px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 12px
}
/*
.md-content>div {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  padding: 0px 40px;
}
@media only screen and (min-width:360px ) {
	.md-content>div {
	  margin: 0;
	  font-weight: 300;
	  font-size: 12px;
	  position: absolute;
	  padding: 0px 40px; 
	  margin-left:-10px;
	}
}

.md-content>div {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  padding: 0px 25px;
  width:270px;
}

@media only screen and (min-width:360px ) {
	.md-content>div {
	  margin: 0;
	  font-weight: 300;
	  font-size: 12px;
	  position: relative;
	  padding: 0px 50px; 
	  margin-left:10px;
	  width:270px;
	}
}*/
.md-content>div ul {
	margin: 0;
	padding: 0 0 25px 0
}

.md-content>div ul li {
	padding: 5px 5px
}

.md-content button {
	display: block;
	margin: 0 auto;
/* 	font-size: 12px; */
	padding-left: 0
}

/* plusInfoModal:  slide and stick to bottom */
.md-plusInfoModal {
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 80%;
	text-align: -webkit-auto;
	opacity: 1;
}

.md-plusInfoModal .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0
}

.md-show.md-plusInfoModal .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: .8;
	filter: alpha(opacity = 80);
	background-color: #fff
}

/* compositionAndMaintenanceModal:  slide and stick to bottom */
.md-compositionAndMaintenanceModal {
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-compositionAndMaintenanceModal .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0
}

.md-show.md-compositionAndMaintenanceModal .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
	filter: alpha(opacity = 80);
	background-color: #fff
}

.md-show.md-compositionAndMaintenanceModal dt {
	width: 15px;
	float: left;
	margin-right: 6px;
	color: #000;
	white-space: nowrap
}

.md-show.md-compositionAndMaintenanceModal dd {
	float: left;
	color: #000;
	white-space: nowrap;
	-webkit-margin-start: 0
}

.md-overflow {
	overflow: auto
}

/*end compositionAndMaintenanceModal:  slide and stick to bottom */

/*start sendModal:  slide and stick to bottom */
.md-sendModal {
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-sendModal .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0
}

.md-show.md-sendModal .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
	filter: alpha(opacity = 80);
	background-color: #fff
}
/*end sendModal:  slide and stick to bottom */

/*start sizeGuideModal:  slide and stick to bottom */
.md-sizeGuideModal {
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-sizeGuideModal .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0
}

.md-show.md-sizeGuideModal .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
	filter: alpha(opacity = 80);
	background-color: #fff
}

.md-sizeGuideModal img {
	max-width: 100%;
	width: expression(this.width > 640 && this.height < this.width ? 640 : true);
	height: expression(this.height > 720 ? 720 : true);
}

.md-sizeGuideModal div {
	top: 10%;
	padding: 0 0px 0px;
}

/*end sizeGuideModal:  slide and stick to bottom */

/*start returnGoodsModal:  slide and stick to bottom */
.md-returnGoodsModal {
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-returnGoodsModal .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0
}

.md-show.md-returnGoodsModal .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
	filter: alpha(opacity = 80);
	background-color: #fff
}
/* end returnGoodsModal:  slide and stick to bottom */

/*start promotionModal:  slide and stick to bottom */
.md-promotionModal {
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1;
}

.md-promotionModal .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}

.md-show.md-promotionModal .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
	filter: alpha(opacity = 80);
	background-color: #fff;
}
/* end promotionModal:  slide and stick to bottom */
@
-webkit-keyframes OpenTop { 50%{
	-webkit-transform: rotateX(10deg);
	-webkit-animation-timing-function: ease-out
}

}
@
-moz-keyframes OpenTop { 50%{
	-moz-transform: rotateX(10deg);
	-moz-animation-timing-function: ease-out
}

}
@
keyframes OpenTop { 50%{
	transform: rotateX(10deg);
	animation-timing-function: ease-out
}

}

/*
===============================================================
end modernizr styles 
================================================================
*/

/*
===============================================================
start �����╁�����瑙����
================================================================
*/
.sys_item_specpara dt {
	font-size: 12px;
	float: left;
	display: inline;
	white-space: nowrap;
	text-align: right;
}

.sys_spec_img {
	overflow: hidden;
}

.sys_spec_img li {
	float: left;
	height: auto;
	position: relative;
	margin: 2px 6px 2px 0;
}

.sys_spec_img li a {
	width: 30px;
	padding: 1px;
	border: 1px solid #ccc;
	float: left;
	background: #fff;
	display: inline-block;
	outline: none;
}

.sys_spec_img li a img {
	width: 30px;
	display: block;
	border: 0px;
}

.sys_spec_img li a:hover {
	border: 2px solid #000;
	padding: 0;
	text-decoration: none;
}

.sys_spec_img li i {
	position: absolute;
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 0;
	right: 5px;
	bottom: 5px;
	background: url(../images/sys_item_selected.gif) no-repeat right bottom;
	z-index: 99;
	display: none;
}

.sys_spec_img li.selected a {
	border: 2px solid #000;
	padding: 0;
}

.sys_spec_img li.selected i {
	display: block;
}

.sys_item_textSize dt {
	font-size: 12px;
	float: left;
	display: inline;
	white-space: nowrap;
	text-align: right;
}

.sys_spec_text {
	overflow: hidden;
}

.sys_spec_text li {
	float: left;
	height: 28px;
	position: relative;
	margin: 2px 6px 2px 0;
	outline: none;
}

.sys_spec_text li a {
	height: 24px;
	padding: 1px 6px;
	border: 1px solid #ccc;
	background: #fff;
	display: inline-block;
	line-height: 24px;
}

.sys_spec_text li a:hover {
	border: 2px solid #000;
	padding: 0 5px;
	text-decoration: none;
}

.sys_spec_text li i {
	position: absolute;
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 0;
	right: 5px;
	bottom: 5px;
	background: url(../images/sys_item_selected.gif) no-repeat right bottom;
	z-index: 99;
	display: none;
}

.sys_spec_text li.selected a {
	border: 2px solid #000;
	padding: 0 5px;
}

.sys_spec_text li.selected i {
	display: block;
}

.increase, .decrease {
	width: 26px;
	height: 20px;
	float: left;
	border: 1px solid #ccc;
	background: #eee;
	cursor: pointer;
}

.quantity {
	width: 40px;
	height: 16px;
	line-height: 16px;
	border: 0px solid #CCC;
	text-align: center;
	float: left;
	margin: 0px;
}

.buyQuantity dt {
	font-size: 12px;
	float: left;
	display: inline;
	white-space: nowrap;
	text-align: right;
}

.specificationsTitle {
	height: 24px;
	line-height: 24px;
	display: none;
	padding-left: 4px;
	color: #666666;
	background-color: #f5efdc;
}

.locked {
	
}

.locked a {
	color: #d6d6d6;
	cursor: not-allowed;
	border-color: #bbbbbb;
	border-style: dotted;
	text-decoration: line-through;
}

.locked span {
	background-image: url(../images/backImg.png);
}

.locked i {
	display: none
}
/*
===============================================================
end �����╁�����瑙����
================================================================
*/

/*
===============================================================
start 璐���╄溅
================================================================
*/
.cartEmpty {
	margin-top: 50%;
	text-align: center;
	font-size: 12px;
}

.cartEmpty a {
	text-decoration: underline;
}

.cartList {
	left: 50%;
	width: 100%;
	max-width: 100%;
	min-width: 320px;
	height: auto;
	z-index: 2001;
}

.cartListInfo {
	bottom: 0px;
	text-align: -webkit-auto;
	margin: 0 auto;
}

.cartListInfo table {
	border-spacing: 0px;
	width: 100%;
}

.cartListInfo .md-content {
	
}

.cartListInfo .md-content>div {
	padding: 0px 5px 30px;
}

.cartListInfo .md-content .nextBtnDiv {
	margin-bottom: 73px;
}

.cartListInfo .md-content ul {
	padding: 0 0 0px 0px;
}

.cartListInfo .md-content li {
	border: 1px solid #000;
	padding: 0px 0px;
	margin-top: 5px;
}
/*
===============================================================
end 璐���╄溅
================================================================
*/

/*
===============================================================
start 璁㈠��璇����
================================================================
*/
.orderInfo .orderInfoContent {
	font-size: 12px;
	background: #fff;
}

.orderInfo .orderInfoContent ul li {
	border-top: 1px solid #E0E0E0;
	border-bottom-width: 0;
	margin-top: 1px;
	line-height: 20px
}

.orderInfo .orderInfoContent ul li>table {
	width: 100%
}

.orderInfo .orderInfoContent ul li>table th {
	text-align: left;
}

.orderInfo .orderInfoContent .nextBtnDiv {
	margin-top: 33px
}

.rightArrow {
	text-align: -webkit-right
}

.orderDetailBtnPanle {
	margin-top: 40px;
}

.orderDetailBtnPanle button {
	margin-bottom: 10px;
}

.orderInfo .orderInfoContent {
	font-size: 12px
}

.couponButton {
	width: 21%;
	height: 40px;
	margin: 0;
	font-size: 12px;
	position: relative;
	color: #fff;
	cursor: pointer;
	outline: 0;
	blr: expression(this.hideFocus = true);
	border: 0;
}

/*start ���浠���瑰��*/
.md-orderPaymentMethodModal {
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-orderPaymentMethodModal .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9)
}

.md-show.md-orderPaymentMethodModal .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1
}

.paymentContent {
	font-size: 12px
}

.paymentContent li {
	border-top: 1px solid #000;
	border-bottom-width: 0;
	margin-top: 10px;
	line-height: 20px
}

.paymentBtnDiv {
	margin-bottom: 73px;
	margin-top: 33px
}

.payList {
	border-bottom: 1px solid #e2dfdf;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 0.8rem;
	padding-left: 20px;
	background: #FFFFFF;
	cursor: pointer;
}

.payList li {
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #e2dfdf;
	border-top: 0px solid #000;
	background: url('../images/icon_rightarrow.png') no-repeat 95% center;
	background-size: 8px 16px;
}

.payList img {
	cursor: pointer;
	max-width: 24px;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: -3px;
	display: inline-block;
}
/*end ���浠���瑰��*/

/*start 浜у��淇℃��*/
.md-orderProductInfoModal {
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-orderProductInfoModal .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9)
}

.md-show.md-orderProductInfoModal .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1
}

.md-orderProductInfoModal .md-content>div {
	padding: 0 5px 30px
}

.md-orderProductInfoModal .md-content ul {
	padding: 0
}

.md-orderProductInfoModal .md-content ul li {
	border: 1px solid #E0E0E0;
	padding: 0;
	margin-top: 5px;
}

.md-orderProductInfoModal .md-content ul li table {
	border-spacing: 0;
	width: 100%
}
/*end 浜у��淇℃��*/

/*start ��惰揣淇℃��*/
.md-receiverModal {
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-receiverModal .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9)
}

.md-show.md-receiverModal .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1
}

.md-receiverModal .md-content>div {
	padding: 0 5px 30px
}

.md-receiverModal .md-content dl dd {
	-webkit-margin-start: 0
}

.receiverEntry {
	overflow: hidden
}

.receiverEntry li {
	width: 92%;
	float: left;
	height: 114px;
	position: relative;
	margin: 2px 6px 2px 0;
	outline: 0
}

.receiverEntry li a {
	width: 100%;
	height: 114px;
	padding: 1px 6px;
	border: 1px solid #ccc;
	background: #fff;
	display: inline-block;
	line-height: 24px
}

.receiverEntry li a:hover {
	border: 2px solid #DC0404;
	padding: 0 5px;
	text-decoration: none
}

.receiverEntry li i {
	position: absolute;
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 0;
	right: -8px;
	bottom: 2px;
	background: url(../images/sys_item_selected.gif) no-repeat right bottom;
	z-index: 99;
	display: none
}

.receiverEntry li.selected a {
	border: 2px solid #DC0404;
	padding: 0 5px
}

.receiverEntry li.selected i {
	display: block
}
/*end ��惰揣淇℃��*/

/*start 娣诲����惰揣淇℃��**/
.md-addReceiverModal {
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1
}

.md-addReceiverModal .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all .3s cubic-bezier(0.25, 0.5, 0.5, 0.9)
}

.md-show.md-addReceiverModal .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1
}
/*start 娣诲����惰揣淇℃��**/
/*
================================================================
end 璁㈠��璇����
================================================================
*/

/*start 浜у�����绫�*/
.productCategory {
	text-align: center;
	margin: 0 auto;
	width: 80px
}

.productCategory li {
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid #000
}
/*end 浜у�����绫�*/
.personalInfo {
	text-align: center;
	margin: 0 auto;
	/* 	padding: 5px 0; */
	background: #fff;
	margin-bottom: 15px;
}

.personalInfo li {
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #E0E0E0;
}

.personalInfo table {
	width: 100%
}

.personalInfo table td:first-child {
	text-align: left
}

.personalInfo table td:last-child {
	vertical-align: sub
}

.defaultSelect {
	height: 32px;
	padding: 0 2px;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #444;
	margin-right: 2px;
	vertical-align: middle;
	border: 1px solid #949494;
	background-color: white;
}

/**start 瀵������板�� */
.sendAddressList {
	font-size: 12px
}

.sendAddressList li {
	border: 1px solid #000;
	line-height: 18px;
	margin-bottom: 5px
}

.sendAddressList table {
	width: 100%
}

.editAddress {
	vertical-align: middle;
	text-align: -webkit-right;
	cursor: pointer
}
/**end 瀵������板�� */

/**start 涓�浜鸿����� */
.editPersonalInfo {
	vertical-align: middle;
	text-align: -webkit-right;
	cursor: pointer;
	font-size: 12px;
	line-height: 30px;
}

.personalInfo_input {
	border-radius: 0;
	font-size: 13px;
	width: 100%;
	height: 20px;
	padding-left: 0;
	border: 1px solid #000
}

.personalInfo_radio {
	display: none;
}

.editPersonalInfo .checked {
	background: url(../images/checkbox_on.png) no-repeat 0 0;
	padding-left: 20px;
	height: 13px;
	display: inline-block;
	line-height: 13px;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	margin: 5px 5px auto auto;
	font-size: 11px
}

.editPersonalInfo .unchecked {
	background: url(../images/checkbox_off.png) no-repeat 0 0;
	padding-left: 20px;
	height: 13px;
	display: inline-block;
	line-height: 13px;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	margin: 5px 5px auto auto;
	font-size: 11px
}

.editPersonalInfo button {
	width: 50%
}

.editPersonalInfo input {
	width: 150px;
	height: 26px;
}

.editPersonalInfo table {
	width: 100%
}

.editPersonalInfoFieldSet select {
	width: 150px;
	height: 32px;
	padding: 0 2px;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #444;
	margin-right: 2px;
	vertical-align: middle;
	border: 1px solid #949494;
	background-color: white
}

.applyForRefundSelect {
	height: 20px;
	padding: 0 2px;
	font-size: 12px;
	font-weight: bold;
	color: #444;
	background-color: white;
}

.returnsGoodsHistory {
	font-size: 12px
}

.returnsGoodsHistory li {
	border-top: 1px solid #000;
	border-bottom-width: 0;
	margin-top: 10px;
	line-height: 20px
}

.returnsGoodsHistory li>table {
	width: 100%;
	line-height: 25px
}

.returnsGoodsList {
	font-size: 12px
}

.returnsGoodsList li {
	border: 1px solid #000;
	margin-top: 10px;
	line-height: 25px
}

.returnsGoodsList li>table {
	width: 100%
}

.returnsGoodsTable {
	width: 100%;
	font-size: 12px;
	line-height: 30px
}
/**end 涓�浜鸿�����*/

/**start ������璁㈠��*/
.myOrderList {
	font-size: 12px
}

.myOrderList li {
	margin-bottom: 10px;
	border-top: 1px solid #000;
	cursor: pointer
}

.myOrderList table {
	width: 100%;
	margin-top: 10px
}
/**end ������璁㈠��*/

/**start 澶����璁㈠��*/
.selet_open {
	display: inline-block;
	border-left: solid 1px #020202;
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 28px;
	background: url(../images/arrow.png) no-repeat center center;
	background-size: cover;
}

.md-invoiceInfoModal {
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1;
}

/**end 澶����璁㈠��*/

/*start*/
.filterProduct {
	font-size: 13px;
	line-height: 26px;
	padding-top: 15px
}

.filterProduct strong {
	font-size: 15px
}

.filterProduct table {
	line-height: 30px;
	width: 100%
}

.filterProduct table td a {
	color: gray
}

.filterProductBtnPanel li {
	padding-top: 10px
}

.filterProductBtnPanel .clearAll {
	background-color: #fff;
	color: #000;
	border: 1px solid #000
}

.filterSelected {
	border: 1px solid #000;
	padding: 2px
}

/*end*/

/**start ��惰��������璇�������琛�*/
.favouriteProductList i {
	position: absolute;
	width: 15px;
	height: 15px;
	font-size: 0;
	line-height: 0;
	top: 5px;
	right: 135px;
	background: url(../images/delete.png) no-repeat right bottom;
	z-index: 99;
	opacity: 0.3
}
/**end*/

/** start ���浠惰�㈤�� */
.subscribeEmailspan {
	display: block;
	margin-top: 10px
}

.confirm {
	background: url(../images/confirm.png) no-repeat 0 0;
	padding-left: 20px;
	height: 13px;
	display: inline-block;
	line-height: 13px;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	margin: 5px 5px auto auto;
	font-size: 11px
}

.unconfirm {
	background: url(../images/unconfirm.png) no-repeat 0 0;
	padding-left: 20px;
	height: 13px;
	display: inline-block;
	line-height: 13px;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	margin: 5px 5px auto auto;
	font-size: 11px
}

.subscribeEmailspan {
	display: block;
	margin-top: 10px
}

input[type=checkbox].confirmCheckBox {
	display: none
}
/** end */

/** start浼������哥��楠�璇�*/
.confirmBut {
	display: inline-block;
	width: 36px;
	text-align: center;
	font-size: 12px
}

.confirmBut em {
	width: 36px;
	height: 36px;
	background-image: url(../images/right.png);
}

.cancelBut {
	display: inline-block;
	width: 36px;
	text-align: center;
	font-size: 12px
}

.cancelBut em {
	width: 36px;
	height: 36px;
	background-image: url(../images/wrong.png);
}
/**end*/

/*start paymentPluginModal:  slide and stick to bottom */
.md-paymentPluginModal {
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1;
}

.md-paymentPluginModal .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}

.md-show.md-paymentPluginModal .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
	filter: alpha(opacity = 80);
	background-color: #fff;
}

.paymentPluginEntry {
	overflow: hidden
}

.paymentPluginEntry li {
	width: 200px;
	float: left;
	position: relative;
	margin: 2px 6px 2px 0;
	outline: 0
}

.paymentPluginEntry li a {
	width: 200px;
	height: 50px;
	padding: 1px 10px;
	border: 1px solid #ccc;
	background: #fff;
	display: inline-block;
	line-height: 50px
}

.paymentPluginEntry li a:hover {
	border: 1px solid #000;
	padding: 0 5px;
	text-decoration: none
}

.paymentPluginEntry li i {
	position: absolute;
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 0;
	right: -8px;
	bottom: 5px;
	background: url(../images/sys_item_selected.gif) no-repeat right bottom;
	z-index: 99;
	display: none
}

.paymentPluginEntry li.selected a {
	border: 2px solid #000;
	padding: 0 5px
}

.paymentPluginEntry li.selected i {
	display: block
}

.paymentPluginEntry img {
	max-width: 24px;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: -3px;
	display: inline;
}
/* end paymentPluginModal:  slide and stick to bottom */

/*header版本2 start*/
.header_2 {
	position: fixed;
	top: 0px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	z-index: 999;
}

.header_2 .backArrow_area {
	position: absolute;
	left: 10px;
	height: 50px;
}

.backArrow_area .backArrow {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 15px;
	border-left: 4px solid #DC0404;
	border-bottom: 4px solid #DC0404;
	webkit-transform: scale(0.75, 0.75) rotate(45deg);
	transform: scale(0.75, 0.75) rotate(45deg);
}

#headerTitleContent {
	margin: 0 36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
}

.header_2 .cart_area {
	position: absolute;
	right: 10px;
	top: 0px;
	height: 50px;
}

.cart_area span.cartIcon {
	display: block;
	width: 22px;
	height: 22px;
	background: url(../icons/cartIcon.png) no-repeat;
	background-size: 22px 22px;
	margin-top: 13px;
}

.header_2 .home_area {
	position: absolute;
	right: 10px;
	top: 0px;
	height: 50px;
}

.home_area span.homeIcon {
	display: block;
	width: 22px;
	height: 22px;
	background: url(../icons/homeIcon.png) no-repeat;
	background-size: 22px 22px;
	margin-top: 13px;
}
/*header版本2 end*/
.num_input input {
	display: block;
	float: left;
	width: 45px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin: 0 5px;
	border: 1px solid #ccc;
}

.add_sub_abled {
	display: block;
	float: left;
	border: 1px solid #DC0404;
	color: #DC0404;
	width: 30px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.add_sub_disabled {
	display: block;
	float: left;
	border: 1px solid #ccc;
	color: #ccc;
	width: 30px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*公共页面底部 start*/
.commonFooter {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-align: center;
	background: #FBFBFB;
	border-top: #e0e0e0 solid 1px
}

.commonFooter table td {
	width: 25%;
	height: 50px;
	color: #666;
	font-size: 11px;
}

.commonFooter table td div.home-page {
	background: url('../icons/home.png') no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	margin-bottom: -12px;
	margin-top: 10px;
}

.commonFooter table td div.cart-page {
	background: url('../icons/cart.png') no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	margin-bottom: -12px;
	margin-top: 10px;
}

.commonFooter table td div.service-page {
	margin: 0 auto;
	background: url('../icons/service.png') no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	margin-bottom: -12px;
	margin-top: 10px;
}

.commonFooter table td div.personal-page {
	margin: 0 auto;
	background: url('../icons/personal.png') no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	margin-bottom: -12px;
	margin-top: 10px;
}
/*公共页面底部 end*/
.hidden_flow {
	overflow: hidden;
}

.commonMargin {
	width: 100%;
	height: 48px;
	overflow: hidden;
    background: #fff;
}