/*首页css*/
#container{
	position:relative;
	width:100%;
	min-height:100%;
	padding-bottom:30px;
}

.tags{
	width:100%;
	height:auto;
	margin-bottom: 15px;
}
.tag-title{
	width:100%; 
	margin:0 auto;
/* 	text-align:center; */
}

.tag-title p {
    color: red;
    font-size: 16px;
    margin-left:15px;
}

.tag-content{
	width:100%; 
	margin:0 auto;
	border-top: 1px solid #E0E0E0;
	overflow: hidden;
}

.content-item{
/* 	display:inline; */
	width:49%; 
	float:left;
}

.content-item .content-container{
	padding: 15px 10px 15px 15px;
}

.content-item.odd{
	border-bottom: 1px solid #E0E0E0;
}

.content-item.even{
	border-bottom: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
}

.content-item .title {
    display: block;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.content-item .description {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #bbb;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.content-item img {
    display: block;
    width: 100%;
/*     margin-right: 15px; */
}