.order-content {
	overflow: hidden;
	padding: 5px 8px;
	background: #fff;
	margin-bottom: 10px;
}

.order-content img {
	display: block;
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
}

.order-content .title {
	display: block;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.order-content .price {
	display: block;
	line-height: 42px;
	font-size: 14px;
	color: #e6393d;
	overflow: hidden;
}

.order-content .num_input {
	float: right;
	margin-right: 10px;
	margin-top: -10px;
}

.order-items {
	background: #fff;
	margin-bottom: 10px;
}

.order-items table {
	width: 100%;
}

.order-items-brief {
	overflow: hidden;
	padding: 5px 8px;
}

.order-items-brief img {
	display: block;
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
}

.order-items-brief .title {
	display: block;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.order-items-brief .price {
	display: block;
	line-height: 25px;
	font-size: 14px;
	color: #e6393d;
	overflow: hidden;
}

.order-items-brief .description {
	display: block;
	line-height: 25px;
	font-size: 14px;
	color: #e6393d;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.rightArrow {
	float: right;
	width: 7px;
	margin-right: 11px;
}

.imgIcon {
	display: block;
	width: 24px;
	height: 24px;
	float: left;
	margin-right: 10px;
}

span.tableSpan {
	line-height: 24px;
	font-size: 14px;
	font-weight: 500;
}

.md-orderServiceTimeModal {
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	text-align: -webkit-auto;
	opacity: 1;
}

.md-orderServiceTimeModal .md-content>div {
	padding: 0;
}

.modal-time-select {
	
}

.modal-time-select .tip {
	height: 30px;
	line-height: 30px;
	background: #FA8258;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.modal-time-select #weekDay_div {
	margin: 0;
	padding: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.modal-time-select #timeArea_div {
	margin-top: 10px;
	text-align: center;
}

.modal-time-select #times_div {
	margin-top: 10px;
	text-align: center;
}

.nocheckDay {
	text-align: center;
	font-size: 12px;
	width: 68px;
	height: 30px;
	line-height: 15px;
	display: inline-block;
	margin: 5px;
	padding: 3px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.checkday {
	border: 1px solid #DC0404;
}

.nocheckTimeArea {
	text-align: center;
	font-size: 12px;
	width: 68px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	margin: 5px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.checkTimeArea {
	border: 1px solid #DC0404;
	background: #FC9C9C;
	color: #fff;
}

.nocheckTime {
	text-align: center;
	font-size: 12px;
	width: 68px;
	height: 42px;
	line-height: 14px;
	padding: 4px 0;
	display: inline-block;
	margin: 5px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.checkTime {
	border: 1px solid #DC0404;
	background: #FC9C9C;
	color: #fff;
}

.orderAreaSquare input {
	border-radius: 0;
	font-size: 13px;
	width: 66px;
	height: 21px;
	padding-left: 8px;
	border: none;
	border-bottom: 1px solid #E0E0E0;
}

.order-info-memo table {
	width: 100%;
}

.order-info-memo input {
	border-radius: 0;
	font-size: 13px;
	width: 100%;
	height: 60px;
	padding-left: 0;
	border: none;
	background: url(../icons/compose.png) center left no-repeat;
	background-size: 35px 35px;
	padding-left: 35px;
}

.order-info-memo input::-webkit-input-placeholder {
	color: #c0c0c0;
	left: 100px;
}

.order-info-memo textarea {
	height: 60px;
	line-height: 18px;
	width: 100%;
	background: url(../icons/compose.png) no-repeat;
	background-position: 1px 1px;
	background-size: 24px 24px;
	padding: 5px 0px 5px 33px;
	border: none;
	font-size: 14px;
}

.order-info-total {
	background: #fff;
	margin-bottom: 10px;
}

.order-info-total table {
	width: 100%;
}

.order-info-total .totalPrice {
	float: right;
	margin-right: 11px;
	color: red;
}

.submit_order_info_area {
	color: white;
	font-size: 20px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 41px;
	line-height: 41px;
	text-align: center;
	z-index: 999;
	padding: 5px 0;
}

.submit_order_info_area .submit_order_info {
	width: 100%;
	height: 41px;
	background: #DC0404;
	border-radius: 7px;
}