
/**
	附近店铺搜索结果页面
	add by toncho 2015/10/21
*/

.store_list{
/*     border-bottom: 1px solid #CCC; */
    margin-bottom: 8px;
	padding-bottom: 0px; 
}

.store_list ul{
	margin: 0px;
    padding: 0px;
    list-style: none;
}

li{
	display: list-item;
    text-align: -webkit-match-parent;
}

.title_mo{
	background: url(../images/titleMO_bg.png) no-repeat;
    background-size: auto 100%;
    height: 34px;
    margin: 5px 0px;
    padding-left: 141px;
}

.title_ed{
	background: url(../images/titleED_bg.png) no-repeat;
    background-size: auto 100%;
    height: 34px;
    margin: 5px 0px;
    padding-left: 141px;
}

.title_mo span, .title_ed span{
	background: url(../images/title_span.png) no-repeat #C8C8C8;
    color: #fff;
    height: 34px;
    background-size: auto 100%;
    overflow: hidden;
    line-height: 34px;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    text-shadow: none;
}

.radius_div{
	border-radius: 8px;
    background-color: #ebebeb;
    border: 1px solid #e7e7e7;
    margin: 8px;
    padding: 8px;
    position: relative;
}

.radius_div label{
	font-size: 14px;
    text-shadow: none;
    padding-right: 10px;
    min-width: 60px;
    position: absolute;
    left: 10px;
}

.radius_div span{
	font-size: 14px;
    margin-left: 70px;
    display: inline-block;
    min-height: 18px;
}

.radius_div span p{
	color: #999;
    font-size: 12px;
    margin: 3px 0px 3px 0px;
}

.radius_div hr{
	margin: 5px -8px;
    border: none;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #ffffff;
    clear: both;
}





